﻿<h2>Create Server</h2>

<form class="form-horizontal" method="post" action="#">
    <div class="form-group">
        Name: <input class="form-control" type="text" name="name" value="" />
    </div>

    <div class="form-group">
        ProbeUrl: <input class="form-control" type="text" name="probeUrl" value="" />
    </div>

    <div class="form-group">
        ProbeIntervalSec: <input class="form-control" type="number" name="probeIntervalSec" value="" />
    </div>

    <div class="form-group">
        <input type="submit" class="btn btn-primary form-control" value="Create" />
    </div>
</form>