﻿@model FixWebAppMonitoring.Models.Server

<h2>Edit Server</h2>

<form class="form-horizontal" method="post" action="#">
    <input id="serverId" type="hidden" name="id" value="@Model.Id" />
    <div class="form-group">
        Name: <input class="form-control" type="text" name="name" value="@Model.Name" />
    </div>

    <div class="form-group">
        ProbeUrl: <input class="form-control" type="text" name="probeUrl" value="@Model.ProbeUrl" />
    </div>

    <div class="form-group">
        ProbeIntervalSec: <input class="form-control" type="number" name="probeIntervalSec" value="@Model.ProbeIntervalSec" />
    </div>

    <div class="form-group">
        <input type="submit" name="action" class="btn btn-primary" value="Edit" />
        <input type="submit" name="action" type="button" class="btn btn-danger" value="Delete" />
    </div>  
</form>

@*@section Scripts {
    <script>
        $(function () {
            $('#deleteBtn').click(function () {
                var serverId = $('#serverId').val();
                $.ajax({
                    type: "POST",
                    url: '/Admin/DeleteServer',
                    data: { id: serverId },
                    success: function (data) {
                        console.log(data);
                        if (data.redirect) {
                            window.location.href = data.redirect;
                        }
                    }
                });
            })
        });
    </script>    
}*@

