﻿@using FixWebAppMonitoring.Models;
@model IEnumerable<Server>


@section Style {
    <link href="~/Content/DataTables/css/jquery.dataTables.min.css" rel="stylesheet" />
}

<h2>Servers <a href="javascript:window.location.reload(true)"><small><span class="glyphicon glyphicon-refresh"></span></small></a></h2>
@if (User.Identity.IsAuthenticated)
{
    <a type="button" class="btn btn-primary" href="/Admin/CreateServer">Create Server</a>
    <hr />
}

<table id="servers-table" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Id</th>
            <th>Server Name</th>
            <th>Status</th>
            <th>LastProbeDt</th>
            <th>ProbeUrl</th>
            <th>ProbeInterval, sec</th>
            @if (User.Identity.IsAuthenticated)
            {
             <td>Edit</td>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (Server server in Model.OrderByDescending(x => x.Id))
        {
            <tr>
                <td>@server.Id</td>
                <td>@server.Name</td>
                <td>
                    @if (server.Status.HasValue && server.Status.Value == ServerStatus.Up)
                    {
                        <text>Up</text>
                    }
                    else if (server.Status.HasValue && server.Status.Value == ServerStatus.Down)
                    {
                        <text>Down</text>
                    }
                    else
                    {
                        <text>Unknown</text>
                    }
                </td>
                <td>
                    @if (server.ProbeDt.HasValue)
                    {
                        <text>@server.ProbeDt.Value.ToString("yyyy-mm-ddTHH:mm:ss")</text>
                    }
                    else
                    {
                        <text>Never</text>
                    }
                </td>
                <td>@server.ProbeUrl</td>
                <td>@server.ProbeIntervalSec</td>
                @if(User.Identity.IsAuthenticated)
                {
                    <td><a href="/Admin/EditOrDeleteServer?id=@server.Id"> >>> </a></td>
                }
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#servers-table').DataTable({
                ordering: false,
                searching: false,
                paging: false,
                bInfo: false
            });
        });

        //setTimeout(function () {
        //    location.reload();
        //}, 5000);

    </script>
}